#!/bin/sh

export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"
export GLFW_IM_MODULE="ibus"
export QT_QPA_PLATFORMTHEME=qt5ct

picom --experimental-backends -b
xsettingsd &
