; vim:ft=dosini
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝

[global/wm]
; Adjust the _NET_WM_STRUT_PARTIAL top value
; Used for top aligned bars
margin-bottom = 0
include-file = ~/.config/polybar/colors

; Adjust the _NET_WM_STRUT_PARTIAL bottom value
; Used for bottom aligned bars
margin-top = -60

[bar/main]
inherit = bar/barbase
tray-position = right
tray-detached = true
tray-maxsize = 28
tray-offset-x = -600
tray-offset-y = 30
tray-padding = 5
tray-scale = 1.0
tray-background = ${color.BACKGROUND}

[bar/barbase]
width = 100%
monitor =
offset-x = 0
offset-y = 0
height = 30
bottom = true

background = ${color.BACKGROUND}
foreground = ${color.FOREGROUND}

radius-top = 0.0
radius-bottom = 0.0

padding = 3
module-margin-left = 2
module-margin-right = 0
modules-right = space

font-0 = "Liga SFMono Nerd Font:size=20:weight=Regular;3"

enable-ipc = true

[settings]

throttle-output = 5
throttle-output-for = 10

screenchange-reload = false

compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
pseudo-transparency = false


;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_

[module/space]
type = custom/text

content = " "
content-foreground = ${color.FOREGROUND}

;; _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_
